version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: capstone-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: capstone-backend
    ports:
      - "8081:8081"
    depends_on:
      - mongo
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/corporate_banking_db

  frontend:
    build: ./frontend
    container_name: capstone-frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo_data: